.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header1 h1 {
    font-size: 100%;
    margin: 1em 0;
  }
  
  .header1 img {
    display: block;
    margin: 1em auto;
    max-width: 100%;
    height: auto;
  }
  
  .ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1em;
  }
  
  .ingredients ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .box {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }
  
  .box h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }
  
  .box p {
    margin: 0.5em 0 0 0;
  }
  